<a href="https://colab.research.google.com/github/HaSeoHyun/DataScience_Python_Practice/blob/main/Basic_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#pip install scikit-learn  - colab은 필요 없다 
import gdown
gdown.download("https://bit.ly/3pK7iuu", 'ns_book7.csv', quiet = False)
import pandas as pd

ns_book7 = pd.read_csv('ns_book7.csv', low_memory = False)
ns_book7.head()

Downloading...
From: https://bit.ly/3pK7iuu
To: /content/ns_book7.csv
100%|██████████| 53.8M/53.8M [00:00<00:00, 77.5MB/s]

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [2]:
#데이터의 75퍼센트는 training set, 25퍼센트는 test set로 나눈다.
#분할 비율을 조정하려면 train_test_split에 test_size 매개변수를 0~1로 지정한다.
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(ns_book7, random_state = 42)

print(len(train_set), len(test_set))  #각각의 세트 크기 확인

282577 94193

In [3]:
X_train = train_set[['도서권수']]  #2차원 배열, 이용하는 요소(입력)
y_train = train_set['대출건수']  #1차원 배열, 알고자 하는  요소 (타깃)

print(X_train.shape, y_train.shape)

(282577, 1) (282577,)

Linear Regression Training

In [4]:
from sklearn.linear_model import LinearRegression
#객체 lr 생성 -> fit()메서드로 입력 X_train과 타깃 y_train 전달 
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [5]:
#훈련된 모델 평가
X_test = test_set[['도서권수']]
y_test =test_set['대출건수']

lr.score(X_test, y_test)
'''
위의 lr.score을 결정계수(coefficient of determination)이라고 한다. 
결정계수는 0~1의 값을 가지는데, 타깃과 예측이 정확히 맞다면(=관계가 깊다면) 1이 된다. 예측이 평균에 가까워질수록 0에 가깝고,
평균보다 예측이 나쁘면 드물게 음수를 가진다. 
'''

'\n위의 lr.score을 결정계수(coefficient of determination)이라고 한다. \n결정계수는 0~1의 값을 가지는데, 타깃과 예측이 정확히 맞다면(=관계가 깊다면) 1이 된다. 예측이 평균에 가까워질수록 0에 가깝고,\n평균보다 예측이 나쁘면 드물게 음수를 가진다. \n'

즉, 도서권수와 대출건수의 상관관계는 적다.

***다음은 Linear function을 이용해 Linear Regression을 학습해본다. ***

선형 회귀: 데이터들을 분석하여 y=ax+b 형태의 일차함수를 도출한다.

In [6]:
print(lr.coef_, lr.intercept_)
#lr.coef_: 기울기(a), lr.intercept_: y절편(b)

[12.87648822] -3.1455454195848613

용어 정리:

타깃이 실수인 경우는 회귀(Regression),(대출건수, 사람 수 등)

타깃을 어떤 종류로 나누어야 할 경우 분류(classification). 예를 들어, 메일 하나가 스팸 메일인지 아닌지 (yes or no)는 분류, 특히 2가지로 나누는 분류는 이진 분류(binary classification), 3가지 이상으로 나누면 다중 분류(multiclass classification)이라고 부른다.

***logistic Regression & Linear Regression***

선형함수의 결과값을 로지스틱 함수(=sigmoid function)에 통과시키면 y는 0~1사이의 값이 된다. 이 y가 0.5보다 크면 yes(positive class), 작으면 no(negative class)로 분류한다.

In [10]:
borrow_mean = ns_book7['대출건수'].mean()
y_train_c = y_train > borrow_mean
y_test_c = y_test > borrow_mean

from sklearn.linear_model import LogisticRegression
logr = LogisticRegression()
logr.fit(X_train, y_train_c)  
logr.score(X_test, y_test_c)#score()메소드가 나타내는 점수: 정확도

0.7106154385145393